@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap');
body{
    background-color: black;
    color: white; 
}
.titulo1 {
    color: #9747ff;
}
h1{
    font-family: "Unbounded", sans-serif;
    font-size: 64px;
    margin-top: 40px;
    text-align: center;
}
p{
    font-family: "poppins", sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 24px auto;
    width: 792px;
}

.botao-demo{
    font-family: "poppins", sans-serif;
    font-size: 24px;
    color: white;
    background-color: #9747ff;
    width: 340px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 64px;
    margin: 40px auto;
    text-decoration: none;
}